.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 1238px;
    margin: 0 auto;
}

.hero-text {
    width: 702px;
    height: 446px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.hero-text h1 {
    font-size: 61px;
    text-wrap: wrap;
    font-weight: 900;
    width: 600px;
}

.light {
    color: #ff6600;
}

.hero-text p {
    font-size: 16px;
    line-height: 160%;
    width: 533px;
}

.hero-watch {
    display: flex;
    gap: 10px;
}

.hero-watch p {
    font-size: 16px;
    font-weight: 500;
}

.hero-btns {
    display: flex;
    gap: 20px;
}

.primary {
    width: 153px;
    height: 39px;
    border-radius: 3px;
    background-color: #d27722;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
}

.secondary {
    width: 153px;
    height: 39px;
    border-radius: 3px;
    color: #d27722;
    border: 2px solid #d27722;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}

.hero-image {
    width: 518px;
    height: 446px;
    display: flex;
    align-items: center;
}